* { /*tirando todas as margens de todos os elementos*/
    margin: 0;
    font-family: sans-serif;
}

.invisivel {
    visibility: hidden;
}

aside{
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(-310px);
    transition: 0.7s;
}

aside.mostrando {
    transform: translateX(0);
    background-color: lightpink;
    transition: 0.7s;
}

aside nav{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 40%;
}

aside nav a {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    font-size: 20pt;
}

#hamburguer{
    height: 60px;
    width: 60px;
    position: absolute; /*respeita o primeiro ancestral com algum tipo de position. no caso é o aside*/
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.barrinha{
    height: 12px;
    width: 50px;
    background-color: rgb(253, 91, 115);
    border-radius: 60px;
    transition: 0.7s;
}

.barrinha.mostrando{
    position: absolute;
    transition: 0.7s;
}

.barrinha.mostrando:nth-child(1){
    transform: rotate(45deg);
}

.barrinha.mostrando:nth-child(2){
    display: none;
}

.barrinha.mostrando:nth-child(3){
    transform: rotate(-45deg);
}
